/* You can add global styles to this file, and also import other style files */
/* Bordes transparentes por defecto y padding */
.hoverable {
  border: 1px solid transparent; /* Bordes transparentes para evitar cambio brusco */
  border-radius: 5px; /* Bordes redondeados */
  padding: 2px 6px; /* Espaciado alrededor del texto */
}

.hoverable:hover {
  border-color: #6c757d; /* Color del borde como btn-outline-secondary */
  cursor: pointer; /* Cambia el cursor a pointer */
}
